@use './colors';

body {
  font-size: 14px;
}

.aws-container {
  margin: 50px auto;
  box-shadow: 0 1px 1px 0 colors.$awsui-color-shadow-medium,
    1px 1px 1px 0 colors.$awsui-color-shadow-side,
    -1px 1px 1px 0 colors.$awsui-color-shadow-side
}

.aws-label {
  font-size: 14px;
  line-height: 20px;
  color: colors.$awsui-color-grey-900;
}

.aws-form-row {
  width: 100%;

  label {
    font-weight: bold;
  }

  @media screen and (min-width: 1024px) {
    width: 75%;
  }
}

.aws-field {
  box-sizing: border-box;
  display: block;
  border: 1px solid colors.$awsui-color-grey-400;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 10px;
  width: 100%;
  color: colors.$awsui-color-grey-900;

  &.error {
    border-color: darken(#e5b7b7, 15%);
    border-width: 2px;
  }
}

select.aws-field {
  padding: 6px 10px;
}

.aws-input {
  border: 1px solid colors.$awsui-color-grey-400;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 10px;
  width: 100%;
  color: colors.$awsui-color-grey-900;
}

.form-header {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: colors.$awsui-color-grey-900;
  background-color: colors.$awsui-color-background-container-header;
  border-bottom: 1px solid colors.$awsui-color-border-divider;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;

  > div {
    margin: 15px 0;
  }
}

.form-message {
  margin-top: 0 !important;
  border-radius: 2px;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;

  &:not(.hasError) {
    background-color: colors.$awsui-color-background-alert-success;
    border-color: colors.$awsui-color-background-flash-success;

    h2 {
      font-weight: normal;
      color: colors.$awsui-color-background-flash-success;
    }
  }

  &.hasError {
    background-color: #e5b7b7;
    border-color: darken(#e5b7b7, 15%);
    color: darken(#e5b7b7, 55%);
  }
}
